<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/admin/main.css">
</head>

<body>
    <!-- namestili smo da nam ovde putanja ide od views foldera -->
    <%- include('/admin/partials/navbar.ejs') %>
        <div class="container-fluid mt-5">
            <div class="row">
                <%- include('/admin/partials/sidebar.ejs') %>
                    <div class="col-10">
                        <div class="d-flex align-items-center mb-3">
                            <h1 style="display: none;">Dobrodosao <%= user.username %> 😎 na:</h1>
                            <h1 class="ms-4 fw-bold">All Tasks</h1>
                            <!-- ms-auto -->
                            <a href="/admin/task/create" class="btn btn-outline-primary ms-auto">New Task</a>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-10 offset-1">

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>To</th>
                                            <th>From</th>
                                            <th>Public</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% tasks.forEach(task => { %>
                                            <tr>
                                                <td><%= task.title %></td>
                                                <td><%= task.assignedTo.username %></td>
                                                <td><%= task.assignedBy.username %></td>
                                                <td>
                                                    <% if (task.public) { %>
                                                        <i class="bi-eye fs-4 text-success"></i>
                                                    <% } else { %>
                                                        <i class="bi-eye-slash fs-4 text-danger"></i>
                                                    <% } %>
                                                </td>
                                                <td><span class="badge bg-primary"><%= task.status %></span></td>
                                                <td>
                                                    <!-- BITNO -->
                                                    <% if (task.isOwner(user._id)) { %>
                                                        <i class="bi-trash"></i>
                                                    <% } %>
                                                    <i class="bi-pen"></i>
                                                    <i class="bi-eye-slash"></i>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <script src="/jquery.js"></script>
        <script>
            $("h1").slideDown(1000);
        </script>
</body>

</html>